.app__phone-info {
  /* Status bar */


/* position: absolute; */
width: 100px;
height: 66px;
right: 0px;
top: 0px;


backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */
}

.app__phone-statusbar {
  /* box-sizing: border-box; */

  /* position: absolute; */
  width: 600px;
  
  /* top: calc(50% - 11.33px/2 - 0.33px); */
  
  mix-blend-mode: normal;
  /* opacity: 0.35; */
  /* Grey / 900 */
  
  /* border: 1px solid #020202; */
  border-radius: 2.66667px;
}
